.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: var(--fontFamily);
    padding: 10px;
    color: aqua;
  
    .logoText {
      margin-left: 10px;
    }
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
  
      .logoText {
        margin-left: 0;
        margin-top: 5px;
      }
    }
  }
  
  .logoImg {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
    background-color: aquamarine;
  }
  