

// .sectiononeimg{
//     width: 100%;
//     border-color: #c20095;
//     border-width: 10px;
//     border-style:solid;
// }

.aboutMeimg{
    
    width: 40%;
    height: auto; 
    max-width: 100%;
      object-fit: cover;
      // position: relative;
    //   z-index: 2; 
      border-radius: 50%;
      // border: 10px outset  rgb(0, 156, 234);
      box-shadow: 0 0 100px rgb(5, 83, 217);
      justify-items: center;
    //   align-items: center;
      margin-left: auto;
      margin-right: auto;
      
      transition: transform 0.5s ease; 
    }
    
    .aboutMeimg:hover {
        outline: var(--b) solid var(--c);
        outline-offset: var(--g);    
    }


// .sectionSkills{
//     width: 100%;
//     border-color: #c20095;
//     border-width: 10px;
//     border-style:solid;
// }

.gridCol {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    // gap: 16px; 
    margin: 5px;
    // margin-top: 220px;

  
    // border-color: #002BC2;
    // border-width: 10px;
    // border-style:solid;

    p{
        font-size: 30px;
        // border: solid 2px white;
        text-align: left;
    }

    h2{
        // border: solid 2px white;
        // text-align: center;   
        // padding-top: 20px;
        font-family: var(--fontFamily);
        color: #ffffff;
        font-size: 3rem; 
      text-align: left;
    //   margin: 5px;
      align-items: center; 
      justify-items: center;
    //   margin-left: auto;
    //   margin-right: auto;


      span {
        color: #10d2e3;
      }
      
 
    }
}