.headerContainer {
  display: flex;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}


.headerStyle {
  align-items: center; 
  justify-content: space-between; 
  font-family: var(--fontFamily);
  color: #10d2e3;
  font-size: 8rem;
  margin-left: 20px;
  span {
    color: #ffffff;
  }
}


.hero {
  margin: 60px;
  width: 450px;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.myHero {
  width: 450px;
  height: 450px;
    object-fit: cover;
    position: relative;
    z-index: 2; 
    border-radius: 50%;

}

.wavyBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(0, 156, 234);
  border-radius: 50%;
  box-shadow: 0 0 35px rgb(5, 83, 217);
  animation: wavyAnimation 8s ease-in-out infinite;
}

@keyframes wavyAnimation {
  0% {
    border-radius: 50%;
    transform: rotate(0deg);
  }
  50% {
    border-radius: 30%;
    transform: rotate(45deg);
  }
  100% {
    border-radius: 50%;
    transform: rotate(0deg);
  }
  50% {
    border-radius: 30%;
    transform: rotate(80deg);
  }
  0% {
    border-radius: 50%;
    transform: rotate(100deg);
  }
}
