

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

 //Colors for all:
 --snowWhite: #ffffff;
 --darkKnight: #000000;
 --frontNavBox: #D8EADB;
 --greenWoods: #114D46;
 --activeGreen: #6DA830;
 --starOrange:#FFA500;
 --gandalfTheGrey: #00000029;
 --greenGoblin: #119B1E;

 //--Small cards
 --earth: #2B2C2E;
 --oceanBlue: #017EC0;
 --myGreenForest: #06682D;
 --greenBottle: #28A745;
 --cardboardBrown: #C4A167;
 --orangeLifeboat: #F18700;
 --oak: #7F652B;
 --darkBlueSea: #004679;
 --wineRed: #951C3F;
 --fullMetalJacket: #607179;
 --ironGiant: #bdbdbd;
 --dangerRed: #E30620;
 --darkAshes: #2B2C2E;


//Login
--bakcGroundGreen: #F4F7F7;
--lightLogin:#FBFCFC;


 /* Fonts for all */
 --fontFamily:"Orbitron", sans-serif;
 --sansFamily: sans-serif;
 --RobotFamily: "Roboto";

}